*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-size: 18px;
	line-height: 1.6;
	background-image: linear-gradient(135deg,#f5f7fa 0%, #c3cfe2 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
}

.main{
	text-align: center;
	width: 100%;
	opacity: 0;
	display: none;
	transition: opacity 2s ease-in;

}

.main h1{
	font-size: 40px;
}

.main p{
	font-size: 20px;
	color: #333;
}

.banner{
	height: 100vh;
	background-image: url(./ff1.jpg);
	background-size: cover;
	background-position: center;
	}

.navbar{
	width: 85%;
	margin: auto;
	padding:20px 0;
	align-items: center;
	display: flex;
	justify-content: space-between;

}
.logo{
	width: 70px;
	height: 70px;
	cursor: pointer;

}



.content{
	width: 100%;
	position: absolute;
	top: 20%;
	padding-left: 110px;
	text-align: left;
	color: white;
}


.content h1{
	font-size: 30px;
	margin-top: 80px;

}

.content p{
	margin: 20px auto;
	font-weight: 100;
	color: white;
}

.banner-btn{
	margin: 70px auto 0;
}
.banner-btn a{
	width: 120px;
	text-decoration: none;
	display: inline-block;
	margin: 0 10px;
	padding: 12px 0;
	color: white;
	border:.5px solid white;
	text-align: center;
	border-radius: 10px;
}

.banner-btn a:hover{
	background: white;
	color:black;
	border: .5px solid white;
}

#sidenav{
	width: 250px;
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	background: grey;
	z-index: 2;
}

nav ul li{
	list-style: none;
	margin: 50px 20px;

}
nav ul li a{
	text-decoration: none;
	color: white;
}
#menuBtn{
	width: 30px;
	height: 30px;

	position: fixed;
	right: 30px;
	top: 20px;
	border-radius: 3px;
	z-index: 3;
	cursor: pointer;
}
#menuBtn img{
	width: 20px;
	margin-top: 15px;
	
}